/* css/no-duplicate-imports */
@import url("style.css") layer(base);
@import url("style.css") layer(base); 

@layer base {
  /* css/no-empty-blocks */
  .empty-block { } 

  /* css/no-important */
  .important-example {
    color: red !important; 
  }

  @media screen {
    /* css/no-invalid-at-rule-placement */
    @import url("nested-import.css") layer(base); 
  }

  /* css/no-invalid-at-rules */
  @fake-at-rule { 
    color: blue;
  }

  /* css/no-invalid-named-grid-areas */

  .grid-container-1 {
    display: grid;
    grid-template-areas: 
        "header header header"
        "main main";
  }

  .grid-container-2 {
    display: grid;
    grid-template-areas: 
        "header header header"
        ""; 
  }

  /* css/no-invalid-properties */
  .invalid-property {
    colr: green; 
  }

  /* css/prefer-logical-properties */
  .physical-properties {
    margin-left: 20px; 
  }

  /* css/relative-font-units */
  .absolute-units {
    font-size: 16px; 
  }

  /* css/use-baseline */
  .no-baseline {
    accent-color: auto; 
  }
}

/* css/use-layers */
.no-layers {
  color: black; 
}